@page "/pessoas"
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject IPESSOAS_REPOSITORY pessoa_repository
@inject IPessoaService PessoaService

<h3>Pessoas</h3>

<RadzenButton Icon="add_circle" Style="margin-bottom: 10px" Text="Novo" Click="Novo" ButtonStyle="ButtonStyle.Primary" />

<PessoaGrid OnEditar="Editar" OnExcluir="Excluir" Pessoas="pessoas" OnGridRefReady="@(g => grid = g)" />

@code {
    private RadzenDataGrid<PESSOAS>? grid;
    private List<PESSOAS> pessoas = [];

    protected override async Task OnInitializedAsync()
    {
        pessoas = (await pessoa_repository.GetAllAsync()).ToList();
    }

    async Task Novo()
    {
        var pessoa = new PESSOAS { DATA_NASCIMENTO = DateTime.Today };
        var result = await DialogService.OpenAsync<PessoaForm>("Nova Pessoa", options: new DialogOptions() { Width = "50%", Height = "auto" });
        if (result is PESSOAS novaPessoa)
        {
            novaPessoa.ID = pessoas.Any() ? pessoas.Max(x => x.ID) + 1 : 1;
            await PessoaService.CreateAsync(novaPessoa);
            pessoas.Add(novaPessoa);
            await grid!.Reload();
            NotificationService.Notify(NotificationSeverity.Success, "Sucesso", "Pessoa cadastrada");
        }
    }

    async Task Editar(PESSOAS pessoa)
    {
        var pessoaCopy = new PESSOAS
        {
            ID = pessoa.ID,
            NOME = pessoa.NOME,
            DATA_NASCIMENTO = pessoa.DATA_NASCIMENTO,
            CPF = pessoa.CPF,
            EMAIL = pessoa.EMAIL
        };

        var result = await DialogService.OpenAsync<PessoaForm>("Editar Pessoa", new Dictionary<string, object> { { "Pessoa", pessoaCopy } }, new DialogOptions() { Width = "50%", Height = "auto" });
        if (result is PESSOAS pessoaEditada)
        {
            var index = pessoas.FindIndex(x => x.ID == pessoaEditada.ID);
            if (index != -1)
            {
                pessoas[index] = pessoaEditada;
                await PessoaService.UpdateAsync(pessoaEditada);
                await grid!.Reload();
                NotificationService.Notify(NotificationSeverity.Success, "Sucesso", "Pessoa atualizada");
            }
        }
    }

    async Task Excluir(PESSOAS pessoa)
    {
        bool? confirm = await DialogService.Confirm($"Deseja excluir a pessoa '{pessoa.NOME}'?", "Confirmação");
        if (confirm == true)
        {
            pessoas.Remove(pessoa);
            await PessoaService.DeleteAsync(pessoa.ID);
            await grid!.Reload();
            NotificationService.Notify(NotificationSeverity.Success, "Sucesso", "Pessoa excluída");
        }
    }

}
